.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}
.login-form-container.active {
  top: 0%;
}
.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background-color: #fff;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 3rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  color: #333;
  margin: 0.6rem 0;
  font-size: 1.7rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  text-transform: none;
}
.login-form-container form .box:focus {
  border: 0.1rem solid var(--orange);
}
.login-form-container form .checkbox {
  margin: 2rem 0;
}
.login-form-container form label {
  font-size: 1.7rem;
  margin-left: 1rem;
}
.login-form-container form .btn {
  display: block;
  border-radius: 1rem;
  width: 100%;
}
.login-form-container form p {
  font-size: 1.5rem;
  padding: 0.5rem 0;
  color: #666;
}
.login-form-container form p a {
  color: var(--orange);
}
.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}
.login-form-container .close {
  position: absolute;
  top: 2rem;
  right: 5rem;
  font-size: 5rem;
  cursor: pointer;
  color: #fff;
}
