@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,900;1,14..32,900&family=League+Gothic&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
:root {
  --orange: #ffa500;
}
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}
*::selection {
  background: var(--orange);
  color: #fff;
}
html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}
.btn {
  display: inline-block;
  margin-top: 1rem;
  background-color: var(--orange);
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
  color: #fff;
}
.btn:hover {
  background-color: rgba(255, 165, 0, 0.2);
  color: var(--orange);
}
.heading {
  text-align: center;
  padding: 2.5rem 0;
}

.heading span {
  font-size: 3.5rem;
  background: rgba(255, 165, 0, 0.2);
  color: var(--orange);
  border-radius: 0.5rem;
  padding: 0.2rem 1rem;
  margin: 0 0.16rem;
}

.heading span.space {
  background: none;
}

section {
  padding: 2rem 9%;
}

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 2rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading span {
    font-size: 2.5rem;
  }
}
